.navbar {
  background-color: rgba(255, 255, 255, 0.918);
  .navbar-brand{
    width: 250px;
    margin-left: 1rem;
  }
  .navbar-toggler {
    margin-right: 1.3rem;
  }
  .navbar-nav {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;

    .nav-link {
      display: inline;
      position: relative;
      padding: 0.8rem $default-font-size;
      font-weight: bold;
      line-height: 1;
      z-index: 1;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

      &:hover {
        transform: scale(0.98);
        border-top: 2px solid $secondary-color;
        border-bottom: 2px solid $secondary-color;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 0px;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
      }
    }
  }
}
