#price-list {
  .nav-tabs {
    border-bottom: 1px solid $alfa-secondary-color;
    @include respond(phone) {
      border-bottom: inherit;
      flex-direction: column;
    }
    @include respond(phone-xs) {
    }
  }
  .price-list-section-title {
    color: lighten($primary-color, 5%);
    // text-align: left;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding-right: 2rem;
    padding-left: 2rem;
    order: 2;
    // transition: 900;
    &:hover {
      color: darken($primary-color, 10%);
    }
    &.active {
      border-color: $alfa-secondary-color $alfa-secondary-color $white-color;
      color: $primary-color !important;
      @include respond(phone) {
        border-color: initial;
        // color: rgb(255, 255, 255) !important;
        // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        //   rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        // background-color: darken($white-color, 10%);
        // order: 1;
        font-size: 2rem;
      }
    }
    @include respond(tab-land) {
      font-size: 1.5rem;
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {
      text-align: left;
    }
    @include respond(phone-xs) {
    }
  }
  .pricelist-wrapper {
    list-style-type: none;
    margin: 3rem 0;
    padding: 0;
    text-align: left;
    .price-list-item {
      display: flex;
      flex-direction: column;

      .price-list-header {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        flex-basis: 100%;
        flex-direction: row;
        justify-content: space-between;
        font-size: 2rem;
        //
        .price-list-name {
          max-width: 80%;
          font-weight: 800;
        }
        .price-list-separator {
          height: 0;
          -webkit-box-flex: 1;
          flex-grow: 1;
          margin-left: 2rem;
          margin-right: 2rem;
          border-bottom: dotted 2px black;
        }
      }
    }
  }
}
