#prices-welcome-bg {
  .prices-page-bg {
    display: flex;
    justify-content: center;
    .background-image-children {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .prices-over-title {
        margin-top: 56px;
        font-family: $font-haviland;
        color: $white-color;
        font-size: 4rem;
        margin-bottom: 1rem;
      }
      .prices-welcome-bg-title {
        z-index: 10;
        color: $white-color;
        font-size: 5.6rem;
        font-weight: 300;
        margin-bottom: 2rem;
        text-transform: none;
      }
    }
  }
}

.main-form{
  display: flex;
  flex-direction: column;
  text-align: left;

  // align-items: stretch;
  // width: 100%;
  // justify-content: start;
  // align-content: flex-start;
  font-size: 2rem;
  &>*{
  padding: 5px;
  }
  .error{
    color: red;
  }
}

#prices-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 450px;
  background-color: black;
  opacity: 0.5;
}
