.privacy-wrapper {
  width: 120ch;
  margin-right: auto;
  margin-left: auto;
  @include respond(phone) {
    width: 100%;
  }

  .privacy-header {
    font-size: 3em;
    padding: 1rem;
    margin: 0.5rem;
  }
  .privacy-message {
    font-size: 2em;
    padding: 2rem;
    margin: 2rem 1rem;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
