#promo {
  .promo-row {
    &__col {
      .promo-wrapper__info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .promo-over-title {
          font-family: $font-haviland;
          color: $primary-color;
          font-size: 3rem;
          margin-bottom: 1rem;
        }
        .section-title-small{
          font-size: 4rem;
        }
        p{
          text-align: left;
        }
      }
    }
    .cta-btn--hero{
      font-size: 1.2rem;
    }
  }
}
