#staff {
  .staff-row-title {
    .staff-overtitle {
      font-family: $font-haviland;
      font-size: 4rem;
      margin-bottom: 2rem;
      color: $secondary-color;
      @include respond(tab-land) {
        font-size: 3.2rem;
      }
      @include respond(tab-port) {
        font-size: 2.8rem;
      }
      @include respond(phone) {
        font-size: 2.2rem;
      }
      @include respond(phone-xs) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
    .section-title {
      color: #323232;
      font-family: $font-ralewey;
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 1.2em;
      letter-spacing: 5.8px;
      margin-bottom: 2rem;
      @include respond(tab-land) {
        font-size: 3.2rem;
      }
      @include respond(tab-port) {
        font-size: 2.8rem;
      }
      @include respond(phone) {
        font-size: 2rem;
      }
      @include respond(phone-xs) {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
  .react-carousel-item {
    padding: 20px;
    cursor: pointer;

    .staff-wrapper__image {
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      transition-delay: 0.3s;
      transition: 0.3s;
      transition-property: all;
      transition-timing-function: ease-in-out;
      opacity: 1;
      top: 0px;

      &:hover {
        opacity: 0.5;
        top: -1rem;
      }
    }
    .section-title-small {
      color: #323232;
      font-family: $font-ralewey;
      font-size: 2rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 2rem;
      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: all;
      transition-timing-function: ease;
      @include respond(tab-land) {
        font-size: 2rem;
      }
      @include respond(tab-port) {
        font-size: 1.5rem;
      }
      @include respond(phone) {
        // font-size: 1.5rem;
      }
      @include respond(phone-xs) {
        font-size: 1.2rem;
      }

      &:hover {
        color: $primary-color;
      }
    }
    h6 {
      position: relative;
      top: -2rem;
      color: #949494;
      font-family: 'Amiri', Sans-serif;
      font-size: 1.4rem;
      font-weight: 400;
      text-transform: capitalize;
      font-style: italic;
      line-height: 1em;
      letter-spacing: 0px;
    }
  }

  .hr-styled{
    display: none;
  }
}
