#testemonials {
  padding-bottom: 0;
  .testemonials-carousel-container {
    .react-carousel-item {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 80vw;
      height: 80vh;
      z-index: 5;
    }
    .react-multi-carousel-item > .react-reveal > .react-reveal {
      // border: 1px solid #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      align-content: center;
      width: 50vw;
      height: 45vh;
      .testemonials-over-title {
        font-family: $font-haviland;
        color: $white-color;
        font-size: 4rem;
        margin-bottom: 1rem;
      }
      .section-title-small {
        color: $white-color;
        font-family: $font-ralewey;
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease;

        &:hover {
          color: $primary-color;
        }
      }
      .testemonials-person {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        &-name{
          font-size: 1.5rem;
          padding-left: 2rem;
        }
      }
    }
  }
}
#testemonials-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 80vh;
  background-color: black;
  opacity: 0.4;
}
