#testemonials {
  max-width: 100vw;
  padding-bottom: 0;
  padding: 0;
  &-fluid {
    position: relative;
    padding: 0;
  }
  .testemonials-carousel-container {
    z-index: 6;
    color: $white-color;
    .react-carousel-item {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 80vw;
      min-height: 420px;
      height: 60vh;
      z-index: 5;
    }
    .react-multi-carousel-item > .react-reveal > .react-reveal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 70vw;
      height: 45vh;

      .testemonials-message {
        @include respond(tab-land) {
          font-size: 2rem;
        }
        @include respond(tab-port) {
          font-size: 2rem;
          max-height: 200px;
          overflow-y: scroll;
        }
        @include respond(phone) {
          font-size: 1.3rem;
          max-height: 190px;
          overflow-y: scroll;
        }
        @include respond(phone-xs) {
          font-size: 1rem;
          max-height: 150px;
          overflow-y: scroll;
        }
      }

      .testemonials-overtitle {
        font-family: $font-haviland;
        color: $white-color;
        font-size: 4rem;
        margin-bottom: 1rem;
        @include respond(tab-land) {
          font-size: 2rem;
        }
        @include respond(tab-port) {
          font-size: 1.5rem;
        }
        @include respond(phone) {
          font-size: 1.8rem;
        }
        @include respond(phone-xs) {
          font-size: 1.8rem;
        }
      }
      .section-title-small {
        color: $white-color;
        font-family: $font-ralewey;
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 4px;
        transition-delay: 0s;
        transition-duration: 0.3s;
        transition-property: all;
        transition-timing-function: ease;
        @include respond(tab-land) {
          font-size: 2rem;
        }
        @include respond(tab-port) {
          font-size: 1.5rem;
        }
        @include respond(phone) {
          font-size: 1.8rem;
        }
        @include respond(phone-xs) {
          font-size: 1.8rem;
        }
        &:hover {
          color: $primary-color;
        }
      }
      .testemonials-person {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;

        &-name {
          font-size: 1.5rem;
          padding-left: 2rem;
        }
      }
    }
  }
}
.testemonials-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-height: 420px;
  background-color: black;
  opacity: 0.4;
}
