// Margins
.mb-8 {
  margin-bottom: 8rem !important;
}

// Scroll Reveal UX
.load-hidden {
  visibility: hidden;
}
//desktop / mobile elements
.desktop {
  @include respond(phone) {
    display: none;
  }
}
.mobile {
  display: none;
  @include respond(phone) {
    display: block;
  }
}