@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Mr+De+Haviland&family=Raleway:wght@100;400&display=swap');

h1 {
  font-family: 'Raleway', Sans-serif;
  font-weight: 300;
  letter-spacing: 6.8px;
}

h3 {
  font-family: 'Mr De Haviland', Sans-serif;
}

p,
a {
  font-family: 'Raleway', Sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.dark-blue-text {
  color: #f9a392 !important;
}

.text-color-main {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  // Responsive text purple style
  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $secondary-color;
  }

  &:hover {
    transform: translateX(2px);
  }
}
