@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';
@import './base/sections';

@import './components/buttons';

@import './sections/header';
@import './sections/footer';

@import './sections/hero';
@import './sections/presentation';
@import './sections/service';
@import './sections/staff';
@import './sections/testemonials';
@import './sections/promo';
@import './sections/lastCall';
@import './sections/about';
@import './sections/contact';
@import './sections/projects';
@import './sections/priceList';
@import './sections/form';

@import './sections/pricesPage';
@import './sections/blog';
@import './sections/privacy';

@import './vendor/css/font-awesome.min.css';

// @font-face {
//   font-family: 'Amiri';
//   src: url('../style/base/fonts/Amiri-Bold.woff2') format('woff2');
// }
@font-face {
  font-family: 'Amiri';
  src:url('../style/base/fonts/Amiri-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Marck Script';
  src: url('../style/base/fonts/MarckScript-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Mr De Haviland';
  src: url('../style/base/fonts/MrDeHaviland-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  src: url('../style/base/fonts/Raleway-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  src: url('../style/base/fonts/Raleway-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  src: url('../style/base/fonts/Raleway-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../style/base/fonts/Montserrat-Medium.ttf');
}